doctype html
html
  head
    script(src="http://cdn.socket.io/socket.io-1.4.5.js").
    script(src="http://code.jquery.com/jquery-2.1.4.min.js").
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js", charset="utf-8").
    script(src="https://maps.google.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyD2NF4l_RDypAJClMfYP-3aQpV9tp1hOZc", type="text/javascript").
    title= title
    link(rel='stylesheet', href='stylesheets/style.css').
  body
    block content
